//utility classes
.border-thick {
  border: 4px solid black;
}

.fw-bold {
  font-weight: 700;
}

.app {
  margin: 50px auto;
  max-width: 1000px;
}


.table-filter-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 48px 0px;

  .client-searchbox {
    min-width: 300px;
  }
}

.table-container {
  height: 300px; //Probably will need to refactor this for overflow/scrolling
  overflow-y: auto;

  .timesheet-table {
    width: 100%;
    th, td {
      padding: 16px;
    }

    thead {
      background-color: turquoise;
    }

    tfoot {
      background-color: turquoise;
    }
  }
}

.form-wrapper {
  //padding: 0.5rem 1rem; keedping consistent with padding in bootstrap nav
  .form-prompt {
    font-size: 18px;
    margin: 48px 0px;
  }
}


.footer {
  margin-top: 32px;
}
